{% extends "base_dashboard.html" %}

{% load i18n %} {% load static %}

{% block head_title %}{% trans "Dashboard" %}{% endblock %}

{% block css %}


{% endblock %}

{% block content %}

<div class="my_content">
    <a href="#" onclick="printContent('print')">print</a><br>

    <div id="print">

        <h2>List of Submitted applications</h2>

        <!--<div><img src="/static/apply/img/bg.jpg" alt="profile"></div>-->

        {% for doc in docs %}
        <h3>Application: {{ forloop.counter }}</h3>
        <p>Email: <span>{{ doc.student.email }}</span></p>
        <p>First Name: <span>{{ doc.student.first_name }}</span></p>
        <p>Last Name: <span>{{ doc.student.last_name }}</span></p>
        <img src="{{ doc.student.profile.image.url }}" alt="profile">
        <p>Date: <span>{{ doc.created_on|date }}</span></p>
        <p>Time: <span>{{ doc.created_on|time:"TIME_FORMAT" }}</span></p>
        <p>Application Id: <span>{{ doc.id }}</span></p>
        <p>Level: <span>{{ doc.level }}</span></p>
        <p>Field: <span>{{ doc.field }}</span></p>
        <p>Speciality: <span>{{ doc.speciality }}</span></p>
        <p>Mode: <span>{{ doc.mode }}</span></p>
        <p>Session: <span>{{ doc.session.name }} {{ doc.created_on|date:"Y" }}</span></p>

        <a href="{% url 'apply:detail_application' pk=doc.id %}">View</a>
        {% endfor %}

    </div>
    </form>
</div>

{% endblock %}


{% block js %}

<script src="{% static 'base/js/datepicker.js' %}"></script>
<script src="{% static 'base/js/reset.js' %}"></script>
<script src="{% static 'base/js/geo.js' %}"></script>
<script src="{% static 'apply/js/register.js' %}"></script>

<script>
    $(function () {
        $("#id_expiry_date").datepicker({
            format: 'yyyy-mm-dd',
        });
    });
</script>

<script>
    function printContent(e1) {
        let page = document.body.innerHTML;
        let printcontent = document.getElementById(e1).innerHTML;
        document.body.innerHTML = printcontent;
        window.print();
        document.body.innerHTML = page;
    }
</script>

{% endblock %}