<footer>
    <div class="content">
        <div class="item">
            <div>
                <h4>Institute</h4>
            </div>
            <div>
                <a href="https://www.icabaf.org/">ICAB - Institut Catholique de Bafoussam </a>
            </div>
        </div>
        <div class="item">
            <div>
                <h4>Contact</h4>
                <p>+237 671 195 351</p>
            </div>
            <div class="social">
                <a href="#">
                    <span><i class="fa fa-facebook-f"></i></span>
                </a>
                <a href="#">
                    <span><i class="fa fa-twitter"></i></span>
                </a>
                <a href="#">
                    <span><i class="fa fa-instagram"></i></span>
                </a>
            </div>
        </div>
        <div class="item">
            <div>
                <h4>Address</h4>
                <p>1389, Boulevard de la Liberté, Douala</p>
                <p>AppsTech, Douala, Address</p>
            </div>
        </div>
    </div>
    <div>
        <p>&copy;<span id="date"></span>, Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa,
            corporis?</p>
    </div>
</footer>