* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

::-webkit-scrollbar {
    background: transparent;
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

body {
    background-color: #2a2b3d
}

#contents {
    position: relative;
    transition: .3s;
    margin-left: 290px;
    background-color: #2a2b3d;
}

.margin {
    margin-left: 0 !important;
}

/* Start side navigation bar  */

.side-nav {
    float: left;
    height: 100%;
    width: 290px;
    background-color: #252636;
    color: #CCC;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: .3s;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 9999999
}

/* .side-nav .close-aside {
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
    color: #EEE;
} */

.side-nav .heading {
    background-color: #252636;
    padding: 15px 15px 15px 30px;
    overflow: hidden;
    border-bottom: 1px solid #2a2b3c
}

.side-nav .heading>img {
    border-radius: 50%;
    float: left;
    width: 28%;
}

.side-nav .info {
    float: left;
    width: 69%;
    margin-left: 3%;
}

.side-nav .heading .info>h3 {
    margin: 0 0 5px
}

.side-nav .heading .info>h3>a {
    color: #EEE;
    font-weight: 100;
    margin-top: 4px;
    display: block;
    text-decoration: none;
    font-size: 18px;
}

.side-nav .heading .info>h3>a:hover {
    color: #FFF;
}

.side-nav .heading .info>p {
    color: #BBB;
    font-size: 13px;
}

/* End heading */

.side-nav .categories>li,
.drop_aside .categories>li {
    padding: 17px 40px 17px 30px;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.02);
    cursor: pointer;
}

.side-nav .categories>li>a,
.drop_aside .categories>li>a {
    color: #AAA;
    text-decoration: none;
}

.side-nav .categories>li>a:hover,
.drop_aside .categories>li>a:hover {
    color: #FFF
}

.side-nav .categories>li>i,
.drop_aside .categories>li>i {
    font-size: 18px;
    margin-right: 5px
}

.side-nav .categories>li>a.arrow:after,
.drop_aside .categories>li>a.arrow:after {
    content: "\f053";
    font-family: fontAwesome;
    font-size: 11px;
    line-height: 1.8;
    float: right;
    color: #AAA;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.side-nav .categories .opend>a:after,
.drop_aside .categories .opend>a:after {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/* End categories */

/* Start dropdown menu */

.side-nav .categories .side-nav-dropdown,
.drop_aside .categories .resize-nav-dropdown {
    padding-top: 10px;
    padding-left: 30px;
    list-style: none;
    display: none;
}

.side-nav .categories .side-nav-dropdown>li>a,
.drop_aside .categories .resize-nav-dropdown>li>a {
    color: #AAA;
    text-decoration: none;
    padding: 7px 0;
    display: block;
}

.side-nav .categories .side-nav-dropdown>li>a:hover,
.drop_aside .categories .resize-nav-dropdown>li>a:hover {
    color: #fff;
}

.side-nav .categories p,
.drop_aside .categories p {
    margin-left: 30px;
    color: #535465;
    margin-top: 10px;
}

/* End dropdown menu */

.show-side-nav {
    -webkit-transform: translateX(-290px);
    -moz-transform: translateX(-290px);
    transform: translateX(-290px);
}

/* Start media query */

@media (max-width: 767px) {

    .side-nav .categories>li,
    .drop_aside.categories>li {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    /* .side-nav .search {
        padding: 10px 0 10px 30px
    } */
}

/* End side navigation bar  */

/* Start welcome */

.welcome {
    color: #CCC;
}

.welcome .content {
    background-color: #313348;
    padding: 15px;
    margin-top: 25px;
}

.welcome h2 {
    /* font-family: Calibri; */
    font-weight: 100;
    margin-top: 0
}

.welcome p {
    color: #999;
}

/* Start bootstrap */

.navbar-right .dropdown-menu {
    right: auto !important;
    left: 0 !important;
}

.navbar-default {
    background-color: #6f6486 !important;
    border: none !important;
    border-radius: 0 !important;
    margin: 0 !important
}

.navbar-default .navbar-nav>li>a {
    color: #EEE !important;
    line-height: 55px !important;
    padding: 0 10px !important;
}

.navbar-default .navbar-brand {
    color: #FFF !important
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #EEE !important
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent !important;
    color: #FFF !important
}

.navbar-default .navbar-brand {
    line-height: 55px !important;
    padding: 0 !important
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #FFF !important
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    margin: 0 !important
}

@media (max-width: 767px) {
    .navbar>.container-fluid .navbar-brand {
        margin-left: 15px !important;
    }

    .navbar-default .navbar-nav>li>a {
        padding-left: 0 !important;
    }

    .navbar-nav {
        margin: 0 !important;
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border: none !important;
    }
}

/* Start media query */

@media (max-width: 767px) {
    #contents {
        margin: 0 !important
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #CCC !important
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #FFF !important
    }

    .navbar-default .navbar-toggle {
        border: none !important;
        color: #EEE !important;
        font-size: 18px !important;
    }

    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: transparent !important
    }
}

.mynav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 20px;
}

.mynav .navbar-brand {
    text-decoration: none;
}

.mynav .drop-bar {
    color: #fff;
    cursor: pointer;
    display: none;
}

.drop_aside {
    display: none;
    animation: anim .2s ease-in;
}

@keyframes anim {
    0% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

.drop_aside .categories>li {
    padding: 17px 20px;
}

.drop_aside .categories>li>i {
    color: #fff;
}

.navbar form button {
    background: none;
    padding: 10px 20px;
    border: 1px solid #2a2939;
    color: #fff;
}

.navbar form button:hover {
    background-color: #2a2939;
    cursor: pointer;
}