.password_content {
    margin: 60px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.password_content h1 {
    text-align: center;
}

.password_content .password_container {
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 5px;
    padding: 40px;
    margin: 80px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* errors */
.password_content .alert_error {
    color: red;
    margin: 8px auto;
}

.password_content .alert_error ul {
    list-style: none;
}

.password_content .helptext {
    color: green;
    font-size: 14px;
}


/* form starting stylings ------------------------------- */

.password_container .group {
    /* border: 1px solid red; */
    position: relative;
    margin: 15px auto;
    /* border: 1px solid black; */
}

.password_container input {
    font-size: 18px;
    padding: 10px 10px 10px 50px;
    margin-top: 5px;
    display: block;
    width: 400px;
    border: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.password_container .icon {
    position: absolute;
    top: 60%;
    left: 8px;
    /* bottom: 50%; */
    transform: translateY(-23%);
    padding-right: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.5)
        /* margin-right: 40px; */
}

.password_container .icon i {
    font-size: 18px;
    color: #333;
}

/* .password_container .image i {
    color: #fff;
} */

.password_container input:focus {
    outline: none;
}

/* LABEL ======================================= */

.password_container label {
    font-size: 18px;
    color: #333;
    pointer-events: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.password_container .submit {
    /* border: 1px solid red; */
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}


/* submit buttons */
.password_container .submit .button {
    display: inline-block;
    text-decoration: none;
    margin: 0.3em;
    padding: 13px 10px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: none;
    font-size: 15px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: var(--default-color);
}

.password_container .submit .button span {
    margin-right: 5px;
}

.password_container .submit .ripple {
    position: absolute;
    background: rgba(0, 0, 0, .25);
    border-radius: 100%;
    transform: scale(0.2);
    opacity: 0;
    pointer-events: none;
    -webkit-animation: ripple .75s ease-out;
    -moz-animation: ripple .75s ease-out;
    animation: ripple .75s ease-out;
}

@-webkit-keyframes ripple {
    from {
        opacity: 1;
    }

    to {
        transform: scale(2);
        opacity: 0;
    }
}

@-moz-keyframes ripple {
    from {
        opacity: 1;
    }

    to {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes ripple {
    from {
        opacity: 1;
    }

    to {
        transform: scale(2);
        opacity: 0;
    }
}