.pharmacy_register {
    color: #fff;
}

.pharmacy_register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding-top: 40px;
}

.pharmacy_register h2 {
    margin-bottom: 30px;
}

.pharmacy_register .alert_error {
    color: red;
    margin: 8px auto;
}

.pharmacy_register .alert_error ul {
    list-style: none;
}

.pharmacy_register .helptext {
    color: green;
    font-size: 14px;
}

.pharmacy_register form {
    display: block;
}

/* form starting stylings ------------------------------- */

.pharmacy_register .group {
    /* border: 1px solid red; */
    position: relative;
    margin: 15px auto;
    /* border: 1px solid black; */
}

.pharmacy_register input {
    font-size: 18px;
    padding: 10px 10px 10px 50px;
    margin-top: 5px;
    display: block;
    width: 400px;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid #757575;
}

.pharmacy_register .icon {
    position: absolute;
    top: 44%;
    left: 8px;
    transform: translateY(-23%);
    padding-right: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.5)
}

.pharmacy_register .form2 .price .icon {
    top: 60%;
}

.pharmacy_register .icon i {
    font-size: 18px;
    color: #333;
}

.pharmacy_register input:focus {
    outline: none;
}

/* LABEL ======================================= */

.pharmacy_register label {
    font-size: 18px;
    color: #fff;
    pointer-events: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.pharmacy_register .submit {
    /* border: 1px solid red; */
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

/* submit buttons */
.pharmacy_register .submit .button {
    display: inline-block;
    margin: 0.3em;
    padding: 13px 50px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: none;
    font-size: 15px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: var(--default-color);
}

.pharmacy_register .submit .button span {
    margin-right: 10px;
}

.pharmacy_register .submit .ripple {
    position: absolute;
    background: rgba(0, 0, 0, .25);
    border-radius: 100%;
    transform: scale(0.2);
    opacity: 0;
    pointer-events: none;
    -webkit-animation: ripple .75s ease-out;
    -moz-animation: ripple .75s ease-out;
    animation: ripple .75s ease-out;
}

@-webkit-keyframes ripple {
    from {
        opacity: 1;
    }

    to {
        transform: scale(2);
        opacity: 0;
    }
}

@-moz-keyframes ripple {
    from {
        opacity: 1;
    }

    to {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes ripple {
    from {
        opacity: 1;
    }

    to {
        transform: scale(2);
        opacity: 0;
    }
}