main {
    color: #ccc;
}

main h1 {
    text-align: center;
    margin: 50px auto;
}

.pharmacist_list {
    color: #ccc;
}

.pharmacist_list table {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    border-collapse: collapse;
}

.pharmacist_list table thead {
    /* border: 1px solid green; */
}

.pharmacist_list table thead th {
    height: 80px;
}

/* table body starts here */
.pharmacist_list table tbody tr {
    height: 70px;
}

.pharmacist_list table .img {
    height: 50px;
    width: 50px;
    margin: auto;
}

.pharmacist_list table .img img {
    border-radius: 50%;
}


.pharmacist_list table tbody tr:nth-of-type(even) {
    background: #44445877;
}

/* buttons */

.button {
    display: inline-block;
    text-decoration: none;
    margin: 0.3em;
    padding: 13px 40px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: none;
    font-size: 15px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: var(--default-color);
}

.button span {
    margin-right: 5px;
}

.ripple {
    position: absolute;
    background: rgba(0, 0, 0, .25);
    border-radius: 100%;
    transform: scale(0.2);
    opacity: 0;
    pointer-events: none;
    -webkit-animation: ripple .75s ease-out;
    -moz-animation: ripple .75s ease-out;
    animation: ripple .75s ease-out;
}

@-webkit-keyframes ripple {
    from {
        opacity: 1;
    }

    to {
        transform: scale(2);
        opacity: 0;
    }
}

@-moz-keyframes ripple {
    from {
        opacity: 1;
    }

    to {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes ripple {
    from {
        opacity: 1;
    }

    to {
        transform: scale(2);
        opacity: 0;
    }
}


.pharmacist_list table td .remove {
    background: rgba(211, 11, 11, 0.555);
    padding: 13px;
}

.pharmacist_list table td .add {
    background: rgba(63, 202, 63, 0.575);
    padding: 13px;
}

/* Start search */

main .search {
    /* text-align: center; */
    padding: 15px 30px;
    margin: 15px auto;
    position: relative;
    width: 35%;
}

main .search form input {
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.25);
}

main .search form button {
    position: absolute;
    top: 22px;
    right: 40px;
    display: block;
    color: rgba(255, 255, 255, 0.25);
    background: none;
    border: none;
    font-size: 19px;
    cursor: pointer;
}

main .search form input {
    color: rgba(255, 255, 255, 0.5);
}

/* End search */